body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

nav {
    background-color: #ffffff;
}

nav img {
    margin: 8px 15px;
}


#chat-messages {
    min-height: 10vh;
    height: 65vh;
    width: 100%;
    overflow-y: auto;

}
#groupList{
    min-height: 10vh;
    height: 40vh;
    width: 100%;
    overflow-y: auto;
}
#userList{
    margin-top: 20px;
    min-height: 10vh;
    height: 45vh;
    width: 100%;
    overflow-y: auto;
}

#signup,#modChange{
    height: 60vh;
    width: 20%;
}
#modChange{
    background-color:#303e45;
    
}

#profile{
    height: 50vh;

    margin: 0 auto;
    border: 2px solid #26a69a;
}
.searchclass{
    margin-top: 2vh;
}

.burger_trigger{
    right: 10px;
    position: absolute;
    top: 5px;
    width: 50px;
    cursor: pointer;

}
.menu,.menu_opened{
    top: 0;
    right: 2px;
    display: none;
    padding-top: 60px;
    cursor: pointer;
    position: absolute;
    z-index: 5;

}
.menu_opened li{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 5px;
    background-color:#73A0E8;
}
.menu_opened li:hover{
    background-color: white;
    color: black;
}
.menu_opened {
    display: block;
}

#profileIcon{
    width: 30vh;
    height: 30vh;
    margin-right: 20px;
}
#userLogin,#userUsername,#userEmail{
    font-size: 25px;
}
#userLogin:before {
    content: 'Login: ';
}
#userEmail:before{
    content: 'Email: ';
}
#userUsername:before{
    content: 'Username: ';
}
#showGroupListMob{
    display: none;
}

@media only screen and (max-width: 600px) {
    #signup,#modChange{
        width: 80%;
    }
    .brand-logo{
        width: 60vh;
        margin-left: 60px;
        font-size: 15px;
    }
    .mobileGlist{
        display: none;
    }
    #showGroupListMob{
        display: block;
    }
    .burger_trigger{
        top: 5px;
        width: 45px;
    }
    .menu,.menu_opened{
        top:55px;
        padding-top: 0px;
        margin-top: 0;
        z-index: 100;
    }
    #profile{
        width: 90%;
        height: 90%;
    }
    #userLogin,#userUsername,#userEmail{
        font-size: 15px;
    }
    #profileIcon{
        width: 100%;
        height: 100%;
    }
}




